@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
p{
    color: #111;
    text-align: center;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url(./images/Front.png);
    background-size: cover;
}
.banner .content{
    max-width: 900;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}
.banner .content p{
    font-size: 1em;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: #ffffffe3;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color: #111;
}
header .logo span{
    color: #ff0157;
}
header .navigation {
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    color: #ff0157;
}

section{
    padding: 100px;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: #ff0157;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgbx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}
.row .col50 .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 40px;
}
.menu .content .box{
    width: 340px;
    margin: 20px;
    border: 15px solid #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menu .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.menu .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.expert .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}
.expert .content .box{
    width: 250px;
    margin: 15px;
}
.expert .content .box .imgbx{
    position: relative;
    width: 100%;
    height: 300px;
}
.expert .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.expert .content .box .text h3{
    font-weight: 400;
    color: #111;
}
.testimonial{
    background: url(./images/back.jpg);
    background-size: cover;
}
.white .titleText,
.white p{
    color: #fff;
}

.testimonial .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 40px;
}

.testimonial .content .box{
    width: 340px;
    margin: 20px;
    padding: 40px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.testimonial .content .box .imgbx{
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}
.testimonial .content .box .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial .content .box .text{
    text-align: center;
}

.testimonial .content .box .text p{
    color: #666;
    font-style: italic;
}

.testimonial .content .box .text h3{
    margin-top: 20px;
    color: #111;
    font-size: 1em;
    color: #ff0157;
    font-weight: 600;
}

.contact{
    background: url();
    background-size: cover;
}

.contactForm{
    padding: 50px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    max-width: 500px;
    margin-top: 30px;
}

.contactForm h3{
    color: #111;
    font-size: 1em;
    margin-bottom: 10px;
    font-weight: 500;
}
.contactForm .inputbox{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
}
.contactForm .inputbox input,
.contactForm .inputbox textarea{
    width: 100%;
    border: 1px solid #555;
    padding:10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputbox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: #ff0157;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}
.copy-right-text{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}
.copy-right-text p{
    color: rgb(83, 60, 60);
}
.copy-right-text a{
    color: #ff0157;
    font-weight: 500;
    text-decoration: none;
}


@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top:68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(./images/menu.jpg);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(./images/close.jpg);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgbx{
        height: 300px;
        margin-top: 20px;
    }
    .menu .content{
        margin-top: 20px;
    }
    .menu .content .box{
        margin:10px;
    }
    .menu .content .box .imgbx{
        height: 260px;
    }
    .title{
        text-align: center;
    }
    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
    .testimonial .content .box{
        margin: 10px;
        padding: 20px;
    }
    .contactForm{
        padding: 35px 40px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}
@media (max-width:480px){
    .banner .content h2{
        font-size: 2..2em;
        color: #fff;
    }
    .contactForm h3{
        color: #111;
        font-size:10px;
        margin-bottom: 10px;
        font-weight: 200;
    }
    

}